<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991512239362-vt67hg3cpqi9pfhhn0c2rdhc2u9efg9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991512239362-vt67hg3cpqi9pfhhn0c2rdhc2u9efg9o</string>
	<key>API_KEY</key>
	<string>AIzaSyBhfKpvrIfU-i2rWO3Vb8FK7AcYXeYfdts</string>
	<key>GCM_SENDER_ID</key>
	<string>991512239362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yongmin.Dobby</string>
	<key>PROJECT_ID</key>
	<string>dobby-89dda</string>
	<key>STORAGE_BUCKET</key>
	<string>dobby-89dda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991512239362:ios:70b98e98c9f4a8b59eb61b</string>
</dict>
</plist>